.link-nav-bar-row .col-md-2 {
    font-size: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    font-family: Arial;
}

.midlink {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

@media (max-width: 768px) { 
    .midlink {
        border: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}

.next-race-title {
    margin-left: -0.4rem;
    margin-right: .4rem;
}

.next-race-location {
    font-weight: bold;
}